@import 'bootstrap';

.container {
  height: 100%;
  overflow-y: scroll;
}

.vertical-expand {
  height: 100%;
  overflow-y: scroll;
}

//.remove-horizontal-padding {
//  padding-left: 0;
//  padding-right: 0;
//}

//.inner-window {
//  padding-left: 0;
//}

.note-list-title {
  margin-bottom: 0;
  background-color: #333333;
  color: #ddd;
}

.window-title-bar {
  margin-bottom: 0;
}

//.text-editor {
//  padding-top: 0;
//  padding-right: 0;
//}

.flex-window-title {
}

.file-list {
  display: flex;
  min-height: -webkit-min-content;
}

.inner-window-scrolling-content {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.vertical-window {
  background-color: black;
  display: flex;
  //flex-flow: column;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

h1 {
}

body {
  color: #ccc;
  background-color: black;
}
